//table { background-color:#FDA; }
table#ban, table#sentegoma, table#gotegoma {
  background-image: url("wood03.jpg"); 
  border-collapse: collapse;
}
table#ban {
  border:2px solid black;
}
table#ban tr td {
  border:2px solid black;
}
div#narimenu {
 width:4em;
}
button {
 font-size:large;
}
select {
 font-size:large;
}
